<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2026 Paranoid Android

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.aospa.dirac"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_DEFAULT_AUDIO_EFFECTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.QUERY_AUDIO_STATE" />

    <application
        android:directBootAware="true"
        android:persistent="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DiracService"
            android:exported="false" />
    </application>
</manifest>
